<% content_for :main do %>

  <div class="post">
    <h1>Committees</h1>

    <h3>Local Organizing Committee</h3>

      <ul class="float-left">
        <li>
          Adriano Viana (PETROBRAS)
        </li>
        <li>
          André Ferrari (UFF)
        </li>
        <li>
          Edison Milani (PETROBRAS)
        </li>
        <li>
          Egberto Pereira (UERJ)
        </li>
        <li>
          Kátia Mansur (DRM-RJ)
        </li>
      </ul>

      <ul class="float-left">
        <li>
          Renata Schmitt (UFRJ)
        </li>
        <li>
          Reinaldo Brito (CPRM)
        </li>
        <li>
          Sérgio Valente (UFRRJ)
        </li>
        <li>
          Ticiano S. Santos (Unicamp)
        </li>
        <li>
          Yuri Garin (UFRJ)
        </li>
      </ul>

    <h3>Scientific Committee</h3>

    <p><strong>Chairman - Rudolph Trouw and Renata Schmitt</strong></p>

      <ul class="float-left">
        <li>
          M. Basei (Brazil)
        </li>
        <li>
          M. Brown (USA)
        </li>
        <li>
          H. Campbell (New Zealand)
        </li>
        <li>
          I. S. Carvalho (Brazil)
        </li>
        <li>
          P. Cawood (UK)
        </li>
        <li>
          J. Craddock (USA)
        </li>
        <li>
          A. Collins (Australia)
        </li>
        <li>
          W. J.Collins (Australia)
        </li>
        <li>
          U. C. Cordani (Brazil)
        </li>
        <li>
          M. De Wit (South Africa)
        </li>
        <li>
          D. Evans (USA)
        </li>
        <li>
          S. Felix Toteu (Kenya)
        </li>
        <li>
          C. Gaucher (Uruguay)
        </li>
        <li>
          M. Heilbron (Brazil)
        </li>
        <li>
          J. Jacobs (Norway)
        </li>
        <li>
          A. Viana (Brazil)
        </li>
      </ul>

      <ul class="float-left">
        <li>
          D. Jamal (Moçambique)
        </li>
        <li>
          S. Kwon (South Korea)
        </li>
        <li>
          E. Milani (Brazil)
        </li>
        <li>
          B. Murphy (Canada)
        </li>
        <li>
          R. Pankhurst (UK)
        </li>
        <li>
          A. Rapalini (Argentina)
        </li>
        <li>
          C. Rapela (Argentina)
        </li>
        <li>
          M. Santosh (Japan)
        </li>
        <li>
          C. Scherer (Brazil)
        </li>
        <li>
          M.G. Sommer (Brazil)
        </li>
        <li>
          P. A. Souza (Brazil)
        </li>
        <li>
          B. Storey (New Zealand)
        </li>
        <li>
          J. Tait (UK)
        </li>
        <li>
          T. Tsunogae (Japan)
        </li>
        <li>
          Z. Zhang (China)
        </li>
        <li>
          P. Zalán (Brazil)
        </li>
      </ul>

    <h3>Undergraduate and graduate students</h3>

      <ul>
        <li>
          Raisa Lopes Costa (Brazil)
        </li>
      </ul>

  </div>

<% end %>

