<% content_for :main do %>

  <div class="post">
    <h1>Field Trips</h1>

    <div class="field_trip">
      <h3>PreGo-1: Parana I – The Paleozoic of Paraná Basin</h3>
      <img src="/images/field_trips/pre_go_1.jpg" alt="" class="align-center"/>
      <p>Leader:</p>
      <ul>
        <li>Almério França (PETROBRAS) - <span class="email">almeriobfranca@petrobras.com.br</span></li>
        <li>Fernando Vesely (Univ. Federal Paraná) - <span class="email">vesely@ufpr.br</span></li>
      </ul>
      <p>Period: September 19th to 23th. Starts and ends in Curitiba – PR.</p>
    </div>

    <br class="clear"/>

    <div class="field_trip">
      <h3>PreGo-2 - The Brazilian counterpart of the Araçuaí-West Congo Orogen</h3>
      <img src="/images/field_trips/pre_go_2.jpg" alt="" class="align-center"/>
      <p>Leader:</p>
      <ul>
        <li>Antônio Carlos Pedrosa Soares (UFMG) - <span class="email">pedrosasoares@gmail.com</span></li>
        <li>Fernando Alkimin (UFOP) - <span class="email">ffalkmim@gmail.com</span></li>
      </ul>
      <p>Period: 18 to 24th of September 2011</p>
    </div>


    <h1>During Conference field trips (one day- 28th of September 2011)</h1>

    <div class="field_trip">
      <h3>DurGo-1 - Buzios Cambrian collisional orogen – the Gondwana amalgamation</h3>
      <p>Leader:</p>
      <ul>
        <li>Renata Schmitt (UFRJ) - <span class="email">renatagondwana@uol.com.br</span></li>
      </ul>
    </div>

    <br class="clear"/>

    <div class="field_trip">
      <h3>DurGo-2 - Cretaceous structures and magmatic bodies – the rifting of Gondwana</h3>
      <p>Leader:</p>
      <ul>
        <li>Natasha Stanton (ON) - <span class="email">natystanton@gmail.com</span></li>
      </ul>
    </div>

    <br class="clear"/>

    <div class="field_trip">
      <h3>DurGo-3 - Stromatolites of Lagoa Salgada</h3>
      <p>Leader:</p>
      <ul>
        <li>Leonardo Borghi (UFRJ) - <span class="email">lborghi@geologia.ufrj.br</span></li>
      </ul>
    </div>

    <br class="clear"/>

    <div class="field_trip">
      <h3>DurGo-4 - Arraial do Cabo Tertiary magmatism</h3>
      <img src="/images/field_trips/dur_go_4.jpg" alt="" class="align-center"/>
      <p>Leader:</p>
      <ul>
        <li>Sergio Valente - <span class="email">sergio.valente@pq.cnpq.br</span></li>
        <li>Artur Corval - <span class="email">artur.corval@gmail.com</span></li>
      </ul>
    </div>

    <br class="clear"/>

    <div class="field_trip">
      <h3>DurGo-5 - How the laymen understand Gondwana</h3>
      <p>Leader:</p>
      <ul>
        <li>Katia Mansur (DRM-RJ) - <span class="email">kmansur@drm.rj.gov.br</span></li>
        <li>Eliane Guedes (DRM-RJ) - <span class="email">eliguedes@gmail.com</span></li>
      </ul>
      <p>Day: September 28th, 2011</p>
    </div>

    <br class="clear"/>

    <div class="field_trip">
      <h3>DurGo-6 - Gondwana break-up in the onshore basement of the Campos basin</h3>
      <p>Leader:</p>
      <ul>
        <li>Julio Almeida (UERJ) - <span class="email">jchalmeida@gmail.com</span></li>
        <li>Monica Heilbron (UERJ) - <span class="email">monica.heilbron@gmail.com</span></li>
        <li>Claudio Valeriano (UERJ) - <span class="email">valeriano.claudio@gmail.com</span></li>
        <li>Webster Mohriak (PETROBRAS) - <span class="email">webmohr@petrobras.com.br</span></li>
      </ul>
      <p>Day: September 28th, 2011</p>
    </div>


    <h1>Post-Conference field trips</h1>

    <div class="field_trip">
      <h3>PostGo-1 - The Ribeira-Brasilia orogens transects</h3>
      <p>Leader:
        ??????E-mail: souzacruz@petrobras.com.br.
      </p>
      <ul>
        <li>Rudolph Trouw (UFRJ) - <span class="email"></span></li>
        <li>Monica Heilbron (UERJ) - <span class="email">monica.heilbron@gmail.com</span></li>
      </ul>
      <p>Period: 01 to 05th of October</p>
    </div>

    <br class="clear"/>

    <div class="field_trip">
      <h3>PostGo-3 - Parana II – Juro-Cretaceous Sequence</h3>
      <p>Leader:</p>
      <ul>
        <li>Breno L. Waichel (UFSC) - <span class="email">breno@cfh.ufsc.br</span></li>
        <li>Claiton Scherer (UFRGS) - <span class="email">claiton.scherer@ufrgs.br</span></li>
        <li>Evandro Fernandes (UFRGS) - <span class="email">evandro.lima@ufrgs.br</span></li>
      </ul>
      <p>Period: 2 to 5th of October</p>
    </div>

    <br class="clear"/>

    <div class="field_trip">
      <h3>PostGo-4 - Reconcavo-Tucano-Jatoba aulacogens - Bahia</h3>
      <p>Leader:</p>
      <ul>
        <li>Luciano Magnavita and Roberto Rosa (PETROBRAS) - <span class="email"></span></li>
      </ul>
      <p>Day: September 28th, 2011</p>
    </div>

    <h1>Registration on Field trips opens next March, 24th.</h1>

  </div>

<% end %>

