<% content_for :main do %>

  <div class="post">
    <h1>Important Dates</h1>

    <table width="95%">
      <tbody>
        <tr>
          <th class="first">Date</th>
          <th>Event</th>
        </tr>
        <tr class="row-a">
          <td class="first">September 2010</td>
          <td>First Circular</td>
        </tr>
        <tr class="row-b">
          <td class="first">December 2010</td>
          <td>Pre registration</td>
        </tr>
        <tr class="row-a">
          <td class="first">January 2011</td>
          <td>Second Circular</td>
        </tr>
        <tr class="row-b">
          <td class="first">April 2011</td>
          <td>Abstracts deadline</td>
        </tr>
        <tr class="row-a">
          <td class="first">May 2011</td>
          <td>Final registration for field trips</td>
        </tr>
        <tr class="row-b">
          <td class="first">June 2011</td>
          <td>Final Program</td>
        </tr>
        <tr class="row-a">
          <td class="first">September 2011</td>
          <td>Meeting</td>
        </tr>
      </tbody>
    </table>

  </div>

<% end %>

