<% content_for :main do %>

  <div class="post">
    <h1>Event</h1>
    <p>
      We are pleased to inform that the Gondwana 14 meeting will be held in the charming city of Búzios
      at the South Atlantic coast of southeastern Brazil. Following suggestions from the last Gondwana meeting
      in China, 2008, we propose a symposium where the East meets the West, with participants from all Gondwana fragments.
      The story of Gondwana can be subdivided in three main periods: the amalgamation (heritage, terranes and thermotectonic events),
      the development (thermotectonic evolution, intracontinental basins, paleoclimate and active margins) and the break up
      (rifting processes, mantle plumes and paleogeography).
    </p>
  </div>

<% end %>

