<% content_for :main do %>

  <div class="post">
    <h1>Our Past</h1>
    <p>
      <strong>Gondwana 1:</strong> 1967 – Mar del Plata, Argentina.
    </p>
    <p>
      <strong>Gondwana 2:</strong> 1970 – Cape Town and Johannesburg, South Africa.
    </p>
    <p>
      <strong>Gondwana 3:</strong> 1973 – Canberra, Australia.
    </p>
    <p>
      <strong>Gondwana 4:</strong> 1977 – Cacutta, India.
    </p>
    <p>
      <strong>Gondwana 5:</strong> 1980 – Wellington, New Zealand.
    </p>
    <p>
      <strong>Gondwana 6:</strong> 1985 – Ohio, USA.
    </p>
    <p>
      <strong>Gondwana 7:</strong> 1988 – São Paulo, Brazil.
    </p>
    <p>
      <strong>Gondwana 8:</strong> 1991 – Hobart, Tasmania.
    </p>
    <p>
      <strong>Gondwana 9:</strong> 1994 – Hyderabad, India.
    </p>
    <p>
      <strong>Gondwana 10:</strong> 1998 – Cape Town, South Africa.
    </p>
    <p>
      <strong>Gondwana 11:</strong> 2002 – Christchurch, New Zealand.
    </p>
    <p>
      <strong>Gondwana 12:</strong> 2005 – Mendoza, Argentina.
    </p>
    <p>
      <strong>Gondwana 13:</strong> 2008 – Dali, Yunnan Province, China.
    </p>
  </div>

<% end %>

