<% content_for :main do %>

  <div class="post">
    <h1>Scientific Sessions</h1>
    <p>
      The Gondwana 14 Conference will be divided in three parallel sessions: Gondwana Amalgamation (Room 1); Gondwana Development (Room 2) and Gondwana Break Up (Room 3). In the end of each day all rooms will merge in one big conference room of main interest.
    </p>
    <p>
      Technical sessions will include oral and poster presentations, over a period of five days, including a day off in the middle for local field trips, workshops and recreational activities. The working language of the meeting will be English.
    </p>
    <p>
      Enter the rooms and look up for your Session/Symposium of interest:
    </p>
    <p><%= link_to "ROOM 01 - GONDWANA AMALGAMATION", "/sessions/room1.pdf" %></p>
    <p><%= link_to "ROOM 02 - GONDWANA DEVELOPMENT ", "/sessions/room2.pdf" %></p>
    <p><%= link_to "ROOM 03 - GONDWANA BREAK UP", "/sessions/room3.pdf" %></p>
    <p><%= link_to "MAIN CONFERENCES ", "/sessions/main_conferences.pdf" %></p>
  </div>

<% end %>

