<% content_for :main do %>

  <div class="post">
    <h1>Hotel</h1>
    <p>
      Buzios is a cozy and charming resort in the eastern coastal region of Rio de Janeiro State Brazil. Sixteen beautiful beaches compose the sightseeing with amazing outcrops of Cambrian gneisses that register the latest orogeny related to Gondwana amalgamation. In addition, tholeitic diabase dykes associated with Meso-cenozoic faults complete the history of Gondwana break up and development of the South Atlantic margins. Mild temperatures and dry weather in the end of September configure the beginning of spring, with flowers and fruits all over.
    </p>


    <div>
    <img src="/images/hotel/hotel_1.jpg" alt="" class="float-left"/>
    <p>
      The Hotel Atlântico Búzios Convention & Resort is    located in Armação Beach, Buzios - RJ - five minutes from downtown  and close of the Ossos, Azeda and Azedinha beaches
    </p>
    </div>

    <br class="clear"/>

    <div>
    <img src="/images/hotel/hotel_2.jpg" alt="" class="float-right"/>
    <p>
      The visitors enjoy a beautiful view of the beach. Can take a pleasant evening stroll along the Bardot Promenade to the "Rua das Pedras" street and enjoy the Búzios nightlife.
    </p>
    </div>
    
    <br class="clear"/>

    <div>
    <img src="/images/hotel/hotel_3.jpg" alt="" class="float-left"/>
    <p>
      TheOrganizing Committee of GONDWANA 14 make reservation of differentiated categories of rooms in Hotel Atlântico Búzios Convention & Resort.
    </p>
    </div>

    <br class="clear"/>

    <div class="align-center">
    <h3>Visit the official web site: <a href="http://www.atlanticobuzios.com.br">http://www.atlanticobuzios.com.br</a></h3>
    </div>
  </div>

<% end %>
