<% content_for :main do %>

  <div class="post">
    <h1>Armação dos Búzios, Brazil</h1>
    <p>
      Buzios is a cozy and charming resort in the eastern coastal region of Rio de Janeiro State Brazil. Sixteen beautiful beaches compose the sightseeing with amazing outcrops of Cambrian gneisses that register the latest orogeny related to Gondwana amalgamation. In addition, tholeitic diabase dykes associated with Meso-cenozoic faults complete the history of Gondwana break up and development of the South Atlantic margins. Mild temperatures and dry weather in the end of September configure the beginning of spring, with flowers and fruits all over.
    </p>
  </div>

<% end %>
