<% content_for :main do %>

  <div class="post">
    <h1>Lodging & Travel</h1>

    <h3>Travel</h3>
    <p>
      The village of Búzios is located 180 km east of the International airport of the city of Rio de Janeiro, Galeão-GIG (Antônio Carlos Jobim Airport).
    </p>

    <h3>Visa</h3>
    <p>
      Citizens of some countries (including the US) will need a Brazilian entry visa. Please, visit the Brazilian Government official web site: <a href="http://www.brasil.gov.br/ingles/visiting_brazil/tourists">http://www.brasil.gov.br/ingles/visiting_brazil/tourists</a> and check whether a visa is required for your nationality. Do not hesitate to ask the organizers well in advance for an official invitation letter in case it becomes necessary.
    </p>

    <h3>Accommodation</h3>
    <p>
      The conference will take place at Atlântico Búzios Hotel. A special rate per night will arranged with this hotel, breakfast included.
    </p>
  </div>

<% end %>
